<!DOCTYPE html>
<html>
<title>Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>MY BLOG</b></h1>
  <p align="right"><a href="{% url 'create_post_url' %}" style="font-size: x-large; color: blue;">Create Post</a>  |  <a href="{% url 'logout_name' %}" style="font-size: x-large; color: red;">Logout</a></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  {% for i in post %}
  <div class="w3-card-4 w3-margin w3-white">
    <img src="{{i.image.url}}" alt="Nature" style="width:100%; height: 400px;">
    <div class="w3-container">
      <h3><b>{{i.title}}</b></h3>
      <h5>Post by {{i.user.first_name}} {{i.user.last_name}}, <span class="w3-opacity"> at {{i.created_at}}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{i.desc}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b><a href="{% url 'delete_post_url' i.id %}">Delete</a></b></button></p>
        </div>
        
      </div>
    </div>
  </div>
  <hr>
{% endfor %}
  
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="{{ud.profile_image.url}}" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>{{ud.user.first_name}} {{ud.user.last_name}}</b></h4>
      <h4><b>Username : {{ud.user.username}}</b></h4>
    </div>
  </div><hr>
  <hr>  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

</body>
</html>
