<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href='{% static "app/images/icons/favicon.ico" %}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/animate/animate.css" %}'>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "app/css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "app/images/bg-01.jpg" %}');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Registration
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" action="{% url 'regi_url' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="wrap-input100 validate-input" data-validate = "Enter First Name">
						<input class="input100" type="text" name="fn" placeholder="First name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter Last Name">
						<input class="input100" type="text" name="ln" placeholder="Last name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter Email">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<div class="rs-select2 js-select-simple select--no-search" align='center'>
							<select name="gender">
								<option disabled="disabled" selected="selected">Gender</option>
								<option>Male</option>
								<option>Female</option>
								<option>Other</option>
							</select>
							<div class="select-dropdown"></div>
						</div>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" placeholder="DOB" name="birthday">
						<i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter Phone No">
						<input class="input100" type="text" name="phn" placeholder="Phone no">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter Username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Profile Image : ">
						<input class="input100" type="file" name="img" placeholder="Profile Image :">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Profile Image : ">
						<a href="{% url 'terms_url' %}" style="font-size: 20px; margin-left: 30px;">Terms & Conditions</a>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" type="submit">
							Submit
						</button>
					</div>
					<br>
					<p align='right' style="color: black;font-size: large;">Already have an account? <a href="{% url 'login_name'%}" style="font-size: large; color: grey;"><u>Login here</u></a></p>	
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src='{% static "app/vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/animsition/js/animsition.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/bootstrap/js/popper.js" %}'></script>
	<script src='{% static "app/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/daterangepicker/moment.min.js" %}'></script>
	<script src='{% static "app/vendor/daterangepicker/daterangepicker.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/countdowntime/countdowntime.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/js/main.js" %}'></script>

</body>
</html>