<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Terms and Conditions</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href='{% static "app/images/icons/favicon.ico" %}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/animate/animate.css" %}'>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{% static "app/vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "app/css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "app/css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<!--<div class="container-login100" style="background-image: url('{% static "app/images/bg-01.jpg" %}');">
			<div class="wrap-login100 p-t-30 p-b-50">-->
				<span class="login100-form-title p-b-41" style="color: black;">
					<br><u>Terms and Conditions</u>
				</span>
				<p>
                 {{cms.tc | safe}}   
                
			<!--</div>-->
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src='{% static "app/vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/animsition/js/animsition.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/bootstrap/js/popper.js" %}'></script>
	<script src='{% static "app/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/daterangepicker/moment.min.js" %}'></script>
	<script src='{% static "app/vendor/daterangepicker/daterangepicker.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/vendor/countdowntime/countdowntime.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "app/js/main.js" %}'></script>

</body>
</html>